*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --paddle-width: 150px;
}
body{
    height: 100vh;
    background: rgb(48, 46, 46);
}
.title {
    background: green;
    padding: 10px;
    margin: 10px 0;
    color: whitesmoke;
    font-size: 20px;
    width: 150px;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 100vh;
}
.elements {
    width: 75%;
    height: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    font-size: 24px;
    color: white;
}
.elements .chance{
    display: flex;
    justify-content: space-evenly;
    width: 350px;
}
.elements .chance .chanceDiv{
    width: 60px;
    height: 30px;
    border-radius: 5px;
}

.gameSquare{
    height: 700px;
    width: 75%;
    border: 2px solid white;
    border-radius: 10px;
    position: relative;
}
.bricks {
    width: 100%;  /* Full width of the container */
    height: 20%; /* Set height to fit your design */
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
    margin-top: 5px;
}
.brick {
    width: 100px;
    height: 30px;
    border-radius: 5px;/
}

.ball{
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    bottom: 10%;
    transform: translate(-50%);
    will-change: transform;
} 
.paddle{
    width: var(--paddle-width);
    height: 20px;
    background: rgb(255, 255, 255);
    border-radius: 10px;
    position: absolute;
    bottom: 10px;
    left: calc(50% - calc( var(--paddle-width)/2));
    /* transform: translateX(-50%); */
    will-change: transform;
}

.remove{
    opacity: 0;
}

.gameLost {
    width: 300px;
    height: 200px;
    background: linear-gradient(to bottom right, rgb(43, 43, 48), rgb(126, 126, 133));
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    border: 2px solid whitesmoke;
    color: whitesmoke;
    
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    will-change: transform;
}

.hidden {
    display: none !important;
}

.gameLost img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    vertical-align: middle;
}
.gameLost p {
    font-size: 24px;
}
.gameLost h3{
    color: rgba(255, 255, 255, 0.938);
    font-size: 24px;
}
.gameLost h3 strong {
    color: rgb(226, 16, 16);
    font-size: 28px;
}
.gameLost button{
    background: rgba(19, 19, 20, 0.911);
    padding: 12px 20px;
    border: 2px solid rgba(215, 215, 221, 0.856);
    border-radius: 5px;
    font-size: 22px;
    color: whitesmoke;
    cursor: pointer;
}
.gameLost button i{
    width: 30px;
    height: 20px;
    color: whitesmoke;
}
.gameLost button:hover {
    color: rgba(3, 3, 3, 0.911);
    background: rgba(245, 245, 245, 0.904);
    border: 2px solid rgba(19, 19, 20, 0.911);
    transition: background-color 0.6s ease, color 0.6s ease;
}

.continueOrRestart {
    background: linear-gradient(to bottom right, rgb(43, 43, 48), rgb(126, 126, 133));
    width: 300px;
    height: 150px;
    text-align: center;
    align-content: center;
    border-radius: 10px;
    border: 2px solid white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    top: calc(50%);
    left: calc(50%);
    transform: translate(-50%, -50%);
}
.appear{
    display: block;
}
.continueOrRestart button{
    padding: 10px 16px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    width: 120px;
    transition: all 0.5s ease-in;
}
.continueOrRestart button:hover{
    color: white;
    background: rgb(48, 46, 46);
    border: 2px solid white;
    /* color: rgb(236, 21, 21); */
}
