*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background: url("./images/wonderful-world-beautiful.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /* overflow: hidden; */
}
.container {
    /* background: red; */
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 100vh;
}
.elements {
    width: 100%;
    height: 150px;
    /* background: red; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 24px;
    color: white;
}
.elements .clock {
    width: 100px;
    height: 100px;
    /* background-image: rgb(170, 159, 159); */
    background-image: conic-gradient(rgba(218, 207, 207, 0.94) 0deg,rgba(218, 207, 207, 0.94) 0deg);
    border-radius: 50%;
    border: 2px solid rgb(255, 255, 255);
    /* transition: background-color 0.5s ease; */
}
.elements .chance img{
    width: 60px;
    /* opacity: 0.2; */
    margin-right: 5px;
}
.elements .chance .disappear {
    opacity: 0.3;
}
.gameSquare{
    height: 600px;
    width: 1200px;
    border: 2px solid white;
    position: relative;
    /* box-shadow: 3px 3px 30px #c0bcbc,
                -3px -3px 30px #c0bcbc; */
    border-radius: 10px;
    /* background: url("./images/wonderful-world-beautiful.jpg");
    background-repeat: no-repeat;
    background-size: cover; */

}
.fruits {
    width: 100%;  /* Full width of the container */
    height: 280px; /* Set height to fit your design */
    /* background: purple; */
    position: relative;
}
.fruits img {
    display: block;
}
.fruit {
    width: 80px;
    height: 60px;
    border-radius: 5px;
    position: absolute;
}
.remove{
    opacity: 0;
}
.paddle{
    width: 150px;
    height: 20px;
    background: rgb(8, 8, 8);
    border-radius: 10px;
    position: absolute;
    bottom: 10px;
    /* transform: translate(50%); */
}
.moneky{
    width: 60px;
    height: 60px;
    /* background: #ff0000; */
    position: absolute;
    /* border-radius: 50%; */
    /* top: 550px;
    left: 300px; */
}
.gameLost {
    width: 400px;
    height: 200px;
    background: linear-gradient(to bottom right, rgb(4, 12, 88), rgb(175, 181, 238));
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    border: 2px solid whitesmoke;
    color: whitesmoke;
    display: none;
   
    /* transform: translate(50%, 50%); */
}
.gameLost p {
    font-size: 24px;
}
.gameLost h3{
    color: rgba(255, 255, 255, 0.938);
    font-size: 24px;
    /* font-weight: bold; */
}
.gameLost h3 strong {
    color: rgb(226, 16, 16);
    font-size: 28px;
}
.gameLost button{
    background: rgba(25, 25, 224, 0.911);
    padding: 12px 20px;
    border: 2px solid rgba(215, 215, 221, 0.856);
    border-radius: 5px;
    font-size: 22px;
    color: whitesmoke;
    cursor: pointer;
}
.gameLost button:hover {
    color: blue;
    background: rgba(245, 245, 245, 0.637);
    border: 2px solid rgba(0, 0, 255, 0.836);
    transition: background-color 0.6s ease, color 0.6s ease;
}


